# **Injesting Health Nutrition and Population Statistics Data into BigQuery**
This procedure will load the health nutrition and population statistcs data in the single .csv file into BigQuery. The file is presently uploaded into GCP but needs to be split into tables through the following process. The data was obtained from Kaggle (https://www.kaggle.com/theworldbank/health-nutrition-and-population-statistics). a JSON file was created to define the schema and an additional empty column was required for it to properly load; this can be address as we edit the table.

In [1]:
#name the dataset
dataset_id = "kaggle2_staging"

In [2]:
#create the actual dataset using bq cli
!bq --location=US mk --dataset {dataset_id}

Dataset 'electric-spark-266716:kaggle2_staging' successfully created.

In [15]:
#load the health nutrition data and create the table
!bq --location=US load --skip_leading_rows=1\
--source_format=CSV {dataset_id}.Health_Nutrition_Population_Statistics\
"gs://global_surface_temperatures/health_nutrition_population_dataset/HealthNutrition.csv" \
schema.json

Waiting on bqjob_r92479c4c8b8ae5f_00000171956711c7_1 ... (5s) Current status: DONE

### **Exploratory Queries**

#### The query below simply takes the first 12 records in the table.

In [16]:
%%bigquery
SELECT *
FROM kaggle2_staging.Health_Nutrition_Population_Statistics
LIMIT 12

,countryName,countryCode,metric,metricCode,yr_1960,yr_1961,yr_1962,yr_1963,yr_1964,yr_1965,...,yr_2007,yr_2008,yr_2009,yr_2010,yr_2011,yr_2012,yr_2013,yr_2014,yr_2015,empty
0,Arab World,ARB,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,1.335550e+02,1.341591e+02,1.348579e+02,1.345046e+02,1.341052e+02,1.335696e+02,...,4.999985e+01,4.988705e+01,4.978121e+01,4.967297e+01,4.953605e+01,4.938374e+01,4.879656e+01,4.819642e+01,NaN,None
1,Arab World,ARB,Age dependency ratio (% of working-age populat...,SP.POP.DPND,8.779923e+01,8.922171e+01,9.050240e+01,9.160301e+01,9.241492e+01,9.286816e+01,...,6.463007e+01,6.360263e+01,6.273802e+01,6.205350e+01,6.179494e+01,6.168190e+01,6.167869e+01,6.171979e+01,6.175419e+01,None
2,Arab World,ARB,"Age dependency ratio, old",SP.POP.DPND.OL,6.635328e+00,6.746978e+00,6.840980e+00,6.915871e+00,6.968155e+00,6.996499e+00,...,6.765206e+00,6.712015e+00,6.672599e+00,6.653749e+00,6.678820e+00,6.715494e+00,6.767541e+00,6.840458e+00,6.937488e+00,None
3,Arab World,ARB,"Age dependency ratio, young",SP.POP.DPND.YG,8.102425e+01,8.231614e+01,8.345981e+01,8.441397e+01,8.509666e+01,8.547072e+01,...,5.616857e+01,5.512340e+01,5.425597e+01,5.357864e+01,5.331823e+01,5.320907e+01,5.320536e+01,5.322831e+01,5.321811e+01,None
4,Arab World,ARB,"Birth rate, crude (per 1,000 people)",SP.DYN.CBRT.IN,4.769972e+01,4.745709e+01,4.719957e+01,4.691921e+01,4.661179e+01,4.627075e+01,...,2.728815e+01,2.732055e+01,2.737012e+01,2.742164e+01,2.739020e+01,2.728440e+01,2.706754e+01,2.674617e+01,NaN,None
5,Arab World,ARB,"Death rate, crude (per 1,000 people)",SP.DYN.CDRT.IN,1.975249e+01,1.928680e+01,1.882386e+01,1.835815e+01,1.788855e+01,1.741839e+01,...,6.061947e+00,6.014266e+00,5.959082e+00,5.911760e+00,5.872837e+00,5.833642e+00,5.790663e+00,5.744911e+00,NaN,None
6,Arab World,ARB,Female population 00-04,SP.POP.0004.FE,8.042316e+06,8.268326e+06,8.506450e+06,8.758767e+06,9.016638e+06,9.281102e+06,...,1.979545e+07,2.023598e+07,2.071189e+07,2.122380e+07,2.184746e+07,2.246794e+07,2.306040e+07,2.357029e+07,2.396381e+07,None
7,Arab World,ARB,Female population 05-09,SP.POP.0509.FE,6.413146e+06,6.681949e+06,6.923963e+06,7.129112e+06,7.306209e+06,7.471743e+06,...,1.810795e+07,1.831139e+07,1.854932e+07,1.880947e+07,1.916016e+07,1.955924e+07,2.000788e+07,2.050108e+07,2.102129e+07,None
8,Arab World,ARB,Female population 10-14,SP.POP.1014.FE,5.076764e+06,5.283657e+06,5.519511e+06,5.783558e+06,6.058561e+06,6.317083e+06,...,1.753865e+07,1.758338e+07,1.763500e+07,1.769913e+07,1.780028e+07,1.793730e+07,1.811818e+07,1.835851e+07,1.867327e+07,None
9,Arab World,ARB,Female population 15-19,SP.POP.1519.FE,4.104905e+06,4.219178e+06,4.356993e+06,4.517097e+06,4.700129e+06,4.909004e+06,...,1.714961e+07,1.726051e+07,1.732804e+07,1.736186e+07,1.734755e+07,1.732713e+07,1.731978e+07,1.734831e+07,1.743144e+07,None
10,Arab World,ARB,Female population 20-24,SP.POP.2024.FE,3.686505e+06,3.726187e+06,3.764941e+06,3.810229e+06,3.874405e+06,3.965057e+06,...,1.595838e+07,1.632082e+07,1.662522e+07,1.685436e+07,1.696156e+07,1.700177e+07,1.699730e+07,1.697793e+07,1.696610e+07,None
11,Arab World,ARB,Female population 25-29,SP.POP.2529.FE,3.376121e+06,3.420946e+06,3.464269e+06,3.506844e+06,3.549548e+06,3.592515e+06,...,1.400234e+07,1.446202e+07,1.490453e+07,1.531813e+07,1.564454e+07,1.592533e+07,1.615821e+07,1.634134e+07,1.647542e+07,None

#### The following query orders the countries by their fertility rate total in the year 1972 in descending order.

In [26]:
%%bigquery
SELECT countryName, metric, yr_1972
FROM kaggle2_staging.Health_Nutrition_Population_Statistics
WHERE metricCode = "SP.DYN.TFRT.IN"
ORDER BY yr_1972 DESC

,countryName,metric,yr_1972
0,Rwanda,"Fertility rate, total (births per woman)",8.278
1,Libya,"Fertility rate, total (births per woman)",8.135
2,Kenya,"Fertility rate, total (births per woman)",8.012
3,Cote d'Ivoire,"Fertility rate, total (births per woman)",7.937
4,"Yemen, Rep.","Fertility rate, total (births per woman)",7.894
...,...,...,...
253,Palau,"Fertility rate, total (births per woman)",NaN
254,San Marino,"Fertility rate, total (births per woman)",NaN
255,Sint Maarten (Dutch part),"Fertility rate, total (births per woman)",NaN
256,Turks and Caicos Islands,"Fertility rate, total (births per woman)",NaN
257,Tuvalu,"Fertility rate, total (births per woman)",NaN